$DATAGRID_THEME_NAME: "default-dark";
$INOVUA_DATAGRID_ACCENT_COLOR: #1864ab;

@import "@inovua/reactdatagrid-community/style/theme/default-dark/index";

table,
th,
td {
  border: 1px solid black !important;
  border-collapse: collapse !important;
}

.data-grid {
  height: calc(100vh - 240px);
}
